.contactForm-input {
  padding: 0.5vw;
  width: 15vw;
  margin: 0.7vw;
  background-color: #fec8c4;
  border: 5px white solid;
}

@media only screen and (max-width: 700px) {
  .p-choice-input {
    width: 50%;
  }
}

@media only screen and (max-width: 660px) {
  .p-choice-input {
    width: 55%;
  }
}

@media only screen and (max-width: 480px) {
  .contactForm-input {
    width: 82vw;
    margin: auto;
  }
}
