.contactForm-button {
  width: 10vw;
  height: 3vw;
  margin: auto;
  background-color: white;
  border: 5px #fec8c4 solid;
  cursor: pointer;
}

.contactForm-button:disabled {
  cursor: no-drop;
}

.p-button {
  margin: 3vw auto;
}
