.stroke-card {
  border: 7px white solid;
  background-color: #ffa69e49;
  width: 10vw;
  min-height: 15vw;
  margin: 1vw;
  padding: 0.5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  text-shadow: 0 0 0.5px black;
}

.product-card {
  width: 10vw;
  border: 5px white solid;
  background-color: #ffffff5d;
  margin: 1vw;
  padding: 1vw;
  transition: width linear 70ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  min-height: 15vw;
}

.product-card:hover {
  width: 12vw;
  transition: width linear 200ms;
}

.about-card {
  background-color: transparent;
  border: 5px #ffc7c2 solid;
  padding: 1vw;
}

.timeline-card {
  margin: 1vw;
  border: 4px solid #ffc7c2;
  width: 25vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-choice-card {
  max-width: 10vw;
  height: 20vw;
  padding: 0.5vw 0.2vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.p-choice-card:hover {
  opacity: 0.8;
}

.opacity0 {
  opacity: 0.3;
}

.p-game-container {
  width: 45%;
  text-align: center;
  margin: 0 auto 5vw auto;
  border: 2px solid #ffd2ce;
  padding: 2vw;
}

@media only screen and (max-width: 1000px) {
  .stroke-card {
    height: 20vw;
    width: 12vw;
  }
}

@media only screen and (max-width: 890px) {
  .stroke-card {
    height: 25vw;
    width: 15vw;
  }
  .product-card {
    min-height: 20vw;
    min-width: 15vw;
  }
  .about-contact-container .timeline-card {
    min-width: 35vw;
    min-height: 25vw;
  }
}
@media only screen and (max-width: 770px) {
  .p-choice-card {
    min-width: 30vw;
    max-height: 19vw;
  }
}

@media only screen and (max-width: 680px) {
  .product-card {
    min-height: 27vw;
    min-width: 17vw;
  }

  .stroke-card {
    min-height: 25vw;
    min-width: 20vw;
  }
}
@media only screen and (max-width: 660px) {
  .about-contact-container .timeline-card {
    min-height: 30vw;
    min-width: 40vw;
  }
}

@media only screen and (max-width: 660px) {
  .stroke-card {
    height: 30vw;
    width: 20vw;
  }

  .p-choice-card {
    min-width: 40vw;
  }
}

@media only screen and (max-width: 550px) {
  .stroke-card {
    height: 35vw;
    width: 25vw;
  }
  .product-card {
    min-height: 30vw;
    min-width: 25vw;
  }

  .about-contact-container .timeline-card {
    min-height: 35vw;
    min-width: 75vw;
  }
}

@media only screen and (max-width: 480px) {
  .stroke-card {
    width: 30vw;
    padding: 3vw;
  }

  .product-card {
    width: 27vw;
    min-height: 35vw;
  }
  .product-card:hover {
    width: 27vw;
  }

  .product-card-text {
    margin: 0.5vw;
    text-align: center;
  }

  .product-card:hover {
    width: 20vw;
  }

  .about-card {
    height: fit-content;
    min-height: 30vw;
    margin: 5vw auto;
  }

  .timeline-card {
    height: fit-content;
    min-height: 40vw;
    width: fit-content;
    min-width: 70vw;
    padding: 2vw;
  }
  .about-contact-container .timeline-card {
    min-height: 45vw;
    min-width: 80vw;
  }

  .p-game-container {
    margin: 5vw auto;
    width: 90%;
  }
}
