.banner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right-about,
.left-about {
  width: 50%;
  height: 30vw;
}

.left-about {
  background-image: url("../../../images/aboutStroke-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffc7c2;
}

@media only screen and (max-width: 660px) {
  .left-about,
  .right-about {
    height: fit-content;
    background-size: cover;
  }

  .banner-container .left {
    width: 90%;
    margin: auto;
  }

  .banner-container {
    margin: auto;
    width: 100%;
    flex-direction: column;
    height: fit-content;
  }
}

@media only screen and (max-width: 450px) {
  .left-about,
  .right-about {
    width: 100%;
  }

  .banner-container .left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner-container .right {
    display: flex;
  }
}
