.cart-notice {
  border: 3px solid #ffc7c2;
  background-color: white;
  padding: 2vw;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deleteIcon {
  cursor: pointer;
  margin: 1vw 1vw 1vw 3vw;
}
/* 
.cart-icon {
    position: fixed;
    cursor: pointer;
    right: 0;
    bottom: 2vw;
    z-index: 999;
    font-size: 3vw;
  } */
