.cart-notice {
  border: 3px solid #ffc7c2;
  background-color: white;
  padding: 2vw;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deleteIcon {
  cursor: pointer;
  margin: 1vw 1vw 1vw 3vw;
}

.oneItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 70%;
  border-bottom: 1px solid #fec8c4;
}
