.about-contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  padding: 2vw 4vw;
  text-align: center;
}

.about-timeline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 5vw auto;
}

.timeline-container {
  background-image: url("../../../images/timeline.svg");
  height: 35vw;
  width: 27vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about-text {
  text-align: center;
}

.about-contact-text {
  margin: 0;
}
