.c-container {
  min-height: 30vw;
  background-color: #ffc7c2;
}

.c-display {
  width: 50%;
  min-height: 30vw;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .checkout {
    height: 70vh;
  }
  .c-display {
    height: inherit;
  }
  .c-container {
    height: inherit;
  }
}

@media only screen and (max-width: 680px) {
  .c-display {
    height: inherit;
  }
}

@media only screen and (max-width: 780px) {
  .checkout {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-container {
    height: 90%;
    width: 100%;
  }
  .c-display {
    width: 80%;
    height: 100%;
  }
}
