.p-game {
  display: flex;
  flex-direction: column;
}

.p-choices-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.p-choices-container .left {
  width: 50%;
}

.p-input-wrapper {
  min-width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fec8c4;
}

.buttonContainer {
  margin: auto;
}

.generated-text {
  line-height: 3vw;
}

.redText {
  color: red;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  font-family: "Shadows Into Light", cursive;
}

.angryText {
  text-transform: uppercase;
  text-decoration-line: underline overline;
  color: rgb(80, 33, 33);
  font-weight: bolder;
  font-family: "Knewave", cursive;
}

.calmText {
  color: rgb(117, 159, 173);
  text-decoration: dotted 1px lightblue;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .p-choices-container {
    flex-direction: column;
  }

  .p-choices-container .left {
    width: fit-content;
    flex-direction: column;
  }

  .p-choices-container .right {
    width: 90%;
    flex-direction: column;
  }

  .p-input-wrapper {
    display: block;
    text-align: center;
  }
}
