.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vw;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  align-content: center;
}

.nav-list-li {
  list-style-type: none;
}

.nav-list-element {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  font-family: "Fondamento", cursive;
}

.active {
  text-decoration: underline #ffc7c2;
}

.nav-list-element:hover {
  opacity: 0.7;
}
.nav-logo {
  background-image: url("../../images/logo.png");
  height: 7vw;
  width: 7vw;
  background-size: contain;
}
